@{
    ViewBag.Title = "ComboLoad";
}

<div class="row">
    <div class="col-md-12">
        <h2>Example page for testing waits</h2>

        <p>The following combo starts with a placeholder option and after 3 seconds updates with a new item.</p>

        <select id="combo" >
            <option>Placeholder</option>
        </select>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var combo = $("#combo");

            // Simulate loading the combo items from another source.
            // Wait 3 seconds then update the combo.

            setTimeout(function () {
                combo.empty();
                combo.append(
                    $("<option id=\"loaded\"></option>").text("Loaded")
                );
            },
            3 * 1000);
        });
    </script>
}
